---

import Layout from '../layouts/Layout.astro';
import Header from '../components/googleplay/Header/Header.astro';
import SectionApp from '../components/googleplay/SectionApp/SectionApp.astro';
import MainApp from '../components/googleplay/MainApp/MainApp.astro';
import Footer from '../components/googleplay/Footer/Footer.astro';

---

<Layout>
  <Header/>
  <div class="container">
    <SectionApp/>
    <MainApp/>
    <Footer/>
  </div>
</Layout>

