---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/innerapp/Header/Header.astro';
import LineBreak from '@/components/innerapp/LineBreak/LineBreak.astro';
import BasketProducts from '@/components/innerapp/BasketProductCard/BasketProducts';
import { InnerAppText } from '@/content/innerAppText';

const currentPath = Astro.url.pathname;
const isInnerAppPage = currentPath === '/innerapp' || currentPath === '/innerapp/';
const isBasketPage = currentPath === '/innerapp/basket' || currentPath === '/innerapp/basket/';
---

<Layout>
  <!-- Header -->
  <Header
    showArrowLink={!isInnerAppPage}
    showBasket={!isBasketPage}
    title={`${InnerAppText.basket}`}
  />

  <!-- Main Content -->
  <div class="container">
    <BasketProducts client:load />
    <LineBreak />
  </div>

  <!-- Sticky Checkout Button -->
  <a
    href="/inner-app/basket"
    class="fixed bottom-0 pb-18 left-1/2 -translate-x-1/2 w-full max-w-[500px] border-2 border-[#01A444] bg-[#008D49] text-white text-lg rounded-t-xl pt-3 font-bold flex justify-center z-50"
  >
    {InnerAppText.mainApp.footer.btns.orderTextBtn}
  </a>
</Layout>
