---
import { products } from '../../../content/products';
import Layout from '../../../layouts/Layout.astro';
import ProductInfo from '../../../components/innerapp/ProductInfo/ProductInfo.astro';
import Header from '../../../components/innerapp/Header/Header.astro';
import FooterProduct from "../../../components/innerapp/FooterProduct/FooterProduct";
import { InnerAppText } from '../../../content/innerAppText';

export const getStaticPaths = (() => {
  return products.map((product) => ({
    params: { id: product.id },
    props: { product },
  }))
})

const currentPath = Astro.url.pathname;
const isInnerAppPage = currentPath === '/innerapp' || currentPath === '/innerapp/';
const isBasketPage = currentPath === '/innerapp/basket' || currentPath === '/innerapp/basket/';

const { product } = Astro.props;

---

<Layout>
  <Header showArrowLink={!isInnerAppPage} showBasket={!isBasketPage} title={InnerAppText.title}/>
  <div class="container">
    {product ? (
      <ProductInfo product={product} />
    ) : (
      <h1>Продукт не найден...</h1>
    )}
  </div>
  {product && <FooterProduct productId={product.id} client:load />}
</Layout>
